In [46]:
import pandas as pd
import os
import numpy as np
file = os.path.join("federal-firearm-licensees_Original.csv")
csv_file = pd.read_csv(file)
csv_file.count()

C:\Users\hongk\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (1,2,3,4,6,12,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Unnamed: 0          80191
Lic Regn            80190
Lic Dist            80190
Lic Cnty            80190
Lic Type            80190
Lic Xprdte          80190
Lic Seqn            80190
License Name        80191
Business Name       52423
Premise Street      80190
Premise City        80190
Premise State       80190
Premise Zip Code    80190
Mail Street         80190
Mail City           80189
Mail State          80190
Mail Zip Code       80190
Voice Phone         80178
dtype: int64

In [52]:
csv_file = csv_file.drop(csv_file.index[0])
csv_file = csv_file.dropna(how="any")
csv_file.count()

Unnamed: 0          52412
Lic Regn            52412
Lic Dist            52412
Lic Cnty            52412
Lic Type            52412
Lic Xprdte          52412
Lic Seqn            52412
License Name        52412
Business Name       52412
Premise Street      52412
Premise City        52412
Premise State       52412
Premise Zip Code    52412
Mail Street         52412
Mail City           52412
Mail State          52412
Mail Zip Code       52412
Voice Phone         52412
dtype: int64

In [53]:
csv_file.head()

,Unnamed: 0,Lic Regn,Lic Dist,Lic Cnty,Lic Type,Lic Xprdte,Lic Seqn,License Name,Business Name,Premise Street,Premise City,Premise State,Premise Zip Code,Mail Street,Mail City,Mail State,Mail Zip Code,Voice Phone
2,2,1,66,003,01,8F,00258,"HERNANDEZ-MUNOZ, GILBERTO",ARMERIA Y ACCESORIOS EL NARANJAL,CARR 411 KM 1.0 BO GUAYABO SECTOR BAJURA,AGUADA,PR,00602,4 REPTO MINERVA,AGUADA,PR,00602,7878680125
3,3,1,66,003,08,8H,00285,"SALAZAR MORET, CHARLES",AGUADA SPORT SHOP,BO ASOMANTE CARR 115 KM 24-5,AGUADA,PR,00602,CALLE COLON #4 SUITE 3,AGUADA,PR,00602,7878686682
4,4,1,66,005,01,9M,00224,"CARDONA-VALENTIN, VIRGINIA",SHOOTING ACCESSORIES & SERVICE,BO PALMAR CARR 111 KM 1.8,AGUADILLA,PR,00603,HC 2 BOX 20554,AGUADILLA,PR,00603,7876587174
5,5,1,66,013,01,8M,83577,"GUTIERREZ-MARTINEZ, ORLANDO",G G AND GUNS,BETANCES 165,ARECIBO,PR,00612,BETANCES 165,ARECIBO,PR,00612,7878788329
6,6,1,66,023,01,9E,00095,"ORTIZ-RODRIGUEZ, PABLO MANUEL",WEST SHOOTING SUPPLIES,#33 JOSE DE DIEGO ST LOCAL 1-C,CABO ROJO,PR,00623,PO BOX 1303,CABO ROJO,PR,00623,7878513257

In [65]:
license_count = csv_file["Premise City"].value_counts()
license_count.head()

HOUSTON        283
PHOENIX        223
SAN ANTONIO    174
TUCSON         170
SPRINGFIELD    166
Name: Premise City, dtype: int64

In [91]:
grouped_license_count = csv_file.groupby(['Premise State'])
grouped_city_license_count = pd.DataFrame(grouped_license_count["Premise City"].value_counts())
grouped_city_license_count.head()

                            Premise City
Premise State Premise City
AK            ANCHORAGE              101
              FAIRBANKS               53
              WASILLA                 50
              PALMER                  29
              NORTH POLE              23

In [95]:
grouped_city_license_count.rename(columns = {"Premise State": "State", "Premise City": "City", "Premise City": "Licensees Count"}, inplace=True)
grouped_city_license_count.head(1000)

                              Licensees Count
Premise State Premise City
AK            ANCHORAGE                   101
              FAIRBANKS                    53
              WASILLA                      50
              PALMER                       29
              NORTH POLE                   23
              EAGLE RIVER                  21
              SOLDOTNA                     19
              JUNEAU                       16
              KETCHIKAN                    14
              KENAI                        13
              CHUGIAK                      10
              KODIAK                        9
              SITKA                         8
              BETHEL                        6
              HOMER                         6
              PETERSBURG                    6
              TOK                           6
              VALDEZ                        6
              DELTA JUNCTION                5
              DILLINGHAM                    4
              SEWARD                        4
              STERLING                      4
              THORNE BAY                    4
              WILLOW                        4
              WRANGELL                      4
              BIG LAKE                      3
              COPPER CENTER                 3
              GLENNALLEN                    3
              HOONAH                        3
              NOME                          3
...                                       ...
CA            TRUCKEE                       4
              VISTA                         4
              WATSONVILLE                   4
              ALTA LOMA                     3
              ARNOLD                        3
              ARROYO GRANDE                 3
              BARSTOW                       3
              BLYTHE                        3
              BROWNS VALLEY                 3
              CAMPBELL                      3
              CARSON                        3
              CERES                         3
              CERRITOS                      3
              COALINGA                      3
              CORNING                       3
              DALY CITY                     3
              EL CENTRO                     3
              EL MONTE                      3
              EL SEGUNDO                    3
              EXETER                        3
              FORTUNA                       3
              FULLERTON                     3
              GROVER BEACH                  3
              HAYWARD                       3
              HIGHLAND                      3
              INDIO                         3
              LAKE ISABELLA                 3
              LAKEWOOD                      3
              LOMPOC                        3
              LONG BEACH                    3

[1000 rows x 1 columns]