In [38]:
import pandas as pd
import us
import os

In [40]:
file1 = os.path.join('Resources','group_license_count.csv')
licences_pd = pd.read_csv(file1)
print(licences_pd.count())
del licences_pd['Unnamed: 0']
licences_pd.head()

Unnamed: 0            50
State                 50
Gun Supplier Count    50
dtype: int64

        State  Gun Supplier Count
0      Alaska                 528
1     Alabama                1043
2    Arkansas                1087
3     Arizona                1668
4  California                2224

In [41]:
licences_pd.to_csv(file1, index=False)