In [24]:
import pandas as pd
import us
import os

In [25]:
file1 = os.path.join('Resources','group_license_count.csv')
licences_pd = pd.read_csv(file1)
print(licences_pd.count())
licences_pd.head()

Unnamed: 0            50
State                 50
Gun Supplier Count    50
dtype: int64

   Unnamed: 0       State  Gun Supplier Count
0           0      Alaska                 528
1           1     Alabama                1043
2           2    Arkansas                1087
3           3     Arizona                1668
4           4  California                2224

In [27]:
del licences_pd['Unnamed: 0']
print(licences_pd.count())
licences_pd.head()

KeyError: 'Unnamed: 0'

In [13]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [17]:
state_list = []
for abb in licences_pd['State']:
    full_name = states[abb]
    state_list.append(full_name)

licences_pd['State'] = state_list
print(licences_pd.count())
del licences_pd['Unnamed: 0']
licences_pd.head()

KeyError: 'Alaska'

In [23]:
licences_pd.to_csv(file1)

In [16]:
pd.read_csv(file1)

    Unnamed: 0  Unnamed: 0.1           State  Gun Supplier Count
0            0             0          Alaska                 528
1            1             1         Alabama                1043
2            2             2        Arkansas                1087
3            3             3         Arizona                1668
4            4             4      California                2224
5            5             5        Colorado                1283
6            6             6     Connecticut                 368
7            7             7        Delaware                   4
8            8             8         Florida                  74
9            9             9         Georgia                2035
10          10            10          Hawaii                1580
11          11            11            Iowa                  15
12          12            12           Idaho                  67
13          13            13        Illinois                1087
14          14            14         Indiana                 760
15          15            15          Kansas                1599
16          16            16        Kentucky                1196
17          17            17       Louisiana                 896
18          18            18   Massachusetts                1128
19          19            19        Maryland                 910
20          20            20           Maine                 358
21          21            21        Michigan                 387
22          22            22       Minnesota                 454
23          23            23        Missouri                1400
24          24            24     Mississippi                1085
25          25            25         Montana                1682
26          26            26  North Carolina                   1
27          27            27    North Dakota                 748
28          28            28        Nebraska                 815
29          29            29   New Hampshire                2015
30          30            30      New Jersey                 353
31          31            31      New Mexico                 572
32          32            32          Nevada                 327
33          33            33        New York                 192
34          34            34            Ohio                 616
35          35            35        Oklahoma                 550
36          36            36          Oregon                1113
37          37            37    Pennsylvania                1847
38          38            38    Rhode Island                1254
39          39            39  South Carolina                1010
40          40            40    South Dakota                1919
41          41            41       Tennessee                  42
42          42            42           Texas                  66
43          43            43            Utah                 898
44          44            44        Virginia                 413
45          45            45         Vermont                1420
46          46            46      Washington                5630
47          47            47       Wisconsin                 776
48          48            48   West Virginia                1284
49          49            49         Wyoming                   5