In [35]:
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time
from census import Census
from us import states
from config import census_key

c = Census(census_key, year=2014)

In [55]:

census_data = c.acs5.get(('NAME', 
                          "B01003_001E", 
                          "B23025_005E",
                          "B17001_002E",
                          "B19301_001E", 
                          "B15003_002E", 
                          "B15003_017E",
                          "B15003_018E",
                          "B15003_022E",
                          "B15003_023E",
                          "B15003_024E",
                          "B15003_025E"),
                          {'for': 'state:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"NAME": "State Name",
                                      "B01003_001E": "Population",
                                      "B23025_005E": "Unemployment Count",
                                      "B17001_002E": "Poverty Count",
                                      "B19301_001E": "income per capita",
                                      "B15003_002E": "education_none",
                                      "B15003_017E": "education_highschool",
                                      "B15003_018E": "education_ged",
                                      "B15003_022E": "education_bachelors",
                                      "B15003_023E": "education_masters",
                                      "B15003_024E": "education_professsional",
                                      "B15003_025E": "education_doctorate",
                                      "state": "state_ID"})

In [56]:
print(census_pd.count())
census_pd.head()

Population                 52
education_none             52
education_highschool       52
education_ged              52
education_bachelors        52
education_masters          52
education_professsional    52
education_doctorate        52
Poverty Count              52
income per capita          52
Unemployment Count         52
State Name                 52
state_ID                   52
dtype: int64

,Population,education_none,education_highschool,education_ged,education_bachelors,education_masters,education_professsional,education_doctorate,Poverty Count,income per capita,Unemployment Count,State Name,state_ID
0,4817678.0,41671.0,824979.0,174782.0,465268.0,196935.0,47795.0,31815.0,889710.0,23936.0,228716.0,Alabama,01
1,728300.0,2924.0,103345.0,23266.0,82261.0,32681.0,7370.0,5126.0,71866.0,33129.0,32097.0,Alaska,02
2,6561516.0,55703.0,877163.0,172916.0,733845.0,306410.0,71569.0,49252.0,1169309.0,25537.0,304067.0,Arizona,04
3,2947036.0,22572.0,564546.0,117905.0,263299.0,98442.0,24187.0,16663.0,549303.0,22595.0,115090.0,Arkansas,05
4,38066920.0,624808.0,4597854.0,555403.0,4870524.0,1889640.0,575093.0,373652.0,6115244.0,29906.0,2084564.0,California,06

In [57]:
census_pd
census_50_pd = census_pd.drop(census_pd.index[[8,51]])

In [58]:
print(census_50_pd.count())
census_50_pd.head()

Population                 50
education_none             50
education_highschool       50
education_ged              50
education_bachelors        50
education_masters          50
education_professsional    50
education_doctorate        50
Poverty Count              50
income per capita          50
Unemployment Count         50
State Name                 50
state_ID                   50
dtype: int64

,Population,education_none,education_highschool,education_ged,education_bachelors,education_masters,education_professsional,education_doctorate,Poverty Count,income per capita,Unemployment Count,State Name,state_ID
0,4817678.0,41671.0,824979.0,174782.0,465268.0,196935.0,47795.0,31815.0,889710.0,23936.0,228716.0,Alabama,01
1,728300.0,2924.0,103345.0,23266.0,82261.0,32681.0,7370.0,5126.0,71866.0,33129.0,32097.0,Alaska,02
2,6561516.0,55703.0,877163.0,172916.0,733845.0,306410.0,71569.0,49252.0,1169309.0,25537.0,304067.0,Arizona,04
3,2947036.0,22572.0,564546.0,117905.0,263299.0,98442.0,24187.0,16663.0,549303.0,22595.0,115090.0,Arkansas,05
4,38066920.0,624808.0,4597854.0,555403.0,4870524.0,1889640.0,575093.0,373652.0,6115244.0,29906.0,2084564.0,California,06

In [63]:
census_50_pd["education_none_highschool"] = census_50_pd["education_none"] + census_50_pd["education_highschool"]
census_50_pd["unemployment_rate(%)"]  = (census_50_pd["Unemployment Count"] / census_50_pd["Population"]) * 100
census_50_pd["poverty_rate(%)"] = (census_50_pd["Poverty Count"] / census_50_pd["Population"]) * 100
census_50_pd["no_college_education_rate(%)"] = (census_50_pd["education_none_highschool"] / census_50_pd["Population"]) * 100
census_50_pd.head()

,Population,education_none,education_highschool,education_ged,education_bachelors,education_masters,education_professsional,education_doctorate,Poverty Count,income per capita,Unemployment Count,State Name,state_ID,education_none_highschool,unemployment_rate(%),poverty_rate(%),no_college_education_rate(%)
0,4817678.0,41671.0,824979.0,174782.0,465268.0,196935.0,47795.0,31815.0,889710.0,23936.0,228716.0,Alabama,01,866650.0,4.747432,18.467610,17.988957
1,728300.0,2924.0,103345.0,23266.0,82261.0,32681.0,7370.0,5126.0,71866.0,33129.0,32097.0,Alaska,02,106269.0,4.407112,9.867637,14.591377
2,6561516.0,55703.0,877163.0,172916.0,733845.0,306410.0,71569.0,49252.0,1169309.0,25537.0,304067.0,Arizona,04,932866.0,4.634097,17.820714,14.217233
3,2947036.0,22572.0,564546.0,117905.0,263299.0,98442.0,24187.0,16663.0,549303.0,22595.0,115090.0,Arkansas,05,587118.0,3.905280,18.639168,19.922322
4,38066920.0,624808.0,4597854.0,555403.0,4870524.0,1889640.0,575093.0,373652.0,6115244.0,29906.0,2084564.0,California,06,5222662.0,5.476051,16.064457,13.719686

In [65]:
census_slice_pd = census_50_pd[["State Name","Population","income per capita","unemployment_rate(%)","poverty_rate(%)","no_college_education_rate(%)"]]
census_slice_pd.head()

,State Name,Population,income per capita,unemployment_rate(%),poverty_rate(%),no_college_education_rate(%)
0,Alabama,4817678.0,23936.0,4.747432,18.467610,17.988957
1,Alaska,728300.0,33129.0,4.407112,9.867637,14.591377
2,Arizona,6561516.0,25537.0,4.634097,17.820714,14.217233
3,Arkansas,2947036.0,22595.0,3.905280,18.639168,19.922322
4,California,38066920.0,29906.0,5.476051,16.064457,13.719686

In [ ]:
census_50_pd.to_csv("us_census_data.csv")