In [1]:
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time
from census import Census
from us import states
from config import census_key

c = Census(census_key, year=2016)

In [31]:

census_data = c.acs5.get(('NAME', 
                          "B01003_001E", 
                          "B23025_005E",
                          "B17001_002E",
                          "B19301_001E", 
                          "B15003_002E", 
                          "B15003_017E",
                          "B15003_018E",
                          "B15003_022E",
                          "B15003_023E",
                          "B15003_024E",
                          "B15003_025E"),
                          {'for': 'state:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"NAME": "State Name",
                                      "B01003_001E": "Population",
                                      "B23025_005E": "Unemployment Count",
                                      "B17001_002E": "Poverty Count",
                                      "B19301_001E": "income per capita",
                                      "B15003_002E": "education_none",
                                      "B15003_017E": "education_highschool",
                                      "B15003_018E": "education_ged",
                                      "B15003_022E": "education_bachelors",
                                      "B15003_023E": "education_masters",
                                      "B15003_024E": "education_professsional",
                                      "B15003_025E": "education_doctorate",
                                      "state": "state_ID"})

In [34]:
print(census_pd.count())
census_pd.head()

Population                 52
education_none             52
education_highschool       52
education_ged              52
education_bachelors        52
education_masters          52
education_professsional    52
education_doctorate        52
Poverty Count              52
income per capita          52
Unemployment Count         52
State Name                 52
state_ID                   52
dtype: int64

,Population,education_none,education_highschool,education_ged,education_bachelors,education_masters,education_professsional,education_doctorate,Poverty Count,income per capita,Unemployment Count,State Name,state_ID
0,4799277.0,40711.0,818315.0,173415.0,458393.0,187852.0,45646.0,30801.0,870631.0,23680.0,241930.0,Alabama,01
1,720316.0,2796.0,101267.0,22792.0,80447.0,31988.0,7431.0,5068.0,69514.0,32651.0,32939.0,Alaska,02
2,6479703.0,52419.0,863210.0,168804.0,716734.0,296979.0,69819.0,48203.0,1131901.0,25358.0,316360.0,Arizona,04
3,2933369.0,22954.0,561542.0,117797.0,257157.0,93456.0,23201.0,15503.0,547328.0,22170.0,121235.0,Arkansas,05
4,37659181.0,598141.0,4525094.0,540940.0,4753446.0,1821325.0,565907.0,360357.0,5885417.0,29527.0,2168665.0,California,06

In [26]:
census_data

[{'B01003_001E': 5834299.0,
  'B15003_002E': 39708.0,
  'B15003_017E': 899158.0,
  'B15003_018E': 117185.0,
  'B15003_022E': 789022.0,
  'B15003_023E': 445990.0,
  'B15003_024E': 114423.0,
  'B15003_025E': 94483.0,
  'B17001_002E': 558329.0,
  'B19301_001E': 36354.0,
  'B23025_005E': 260567.0,
  'NAME': 'Maryland',
  'state': '24'}]